
  <div class= "wrapper">
    <div class="sidebar" data-color="purple" data-background-color="purple" data-image="assets/img/Reshift_logo.png">
     <div class="logo"><a class="navbar-brand" ><img src="assets/img/Reshift_logo.png"></a></div>
     <div class="sidebar-wrapper">
        <ul class="nav navbar-nav nav-mobile-menu">
            <li class="nav-item active  ">
                <a class="nav-link" href="#">
                  <i class="material-icons">dashboard</i>
                  <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">
                  <i class="material-icons">event_available</i>
                  <p>Production Plan</p>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="./alarm.html">
                  <i class="material-icons">alarm</i>
                  <p>Alarm</p>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="./report.html">
                  <i class="material-icons">library_books</i>
                  <p>Reports</p>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="./setting.html">
                  <i class="material-icons">settings</i>
                  <p>Setting</p>
                </a>
            </li>
        </ul>
     </div>
    </div>

<div class="main-panel">
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <a class="navbar-brand" href="javascript:;">Dashboard</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end">
                <form class="navbar-form">
                    <div class="input-group no-border">
                        <input type="text" value="" class="form-control" placeholder="Search...">
                            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                <i class="material-icons" style="color: black">search</i>
                                <div class="ripple-container"></div>
                            </button>
                    </div>
                </form>
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link" href="javascript:;">
                            <i class="material-icons" style="color: black">dashboard</i>
                              <p class="d-lg-none d-md-block">
                                Stats
                              </p>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="material-icons"style="color: black">notifications</i>
                          <span class="notification"style="color: black">5</span>
                          <p class="d-lg-none d-md-block">
                            Some Actions
                          </p>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="#">Mike John responded to your email</a>
                          <a class="dropdown-item" href="#">You have 5 new tasks</a>
                          <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                          <a class="dropdown-item" href="#">Another Notification</a>
                          <a class="dropdown-item" href="#">Another One</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="material-icons" style="color: black">person</i>
                          <p class="d-lg-none d-md-block">
                            Account
                          </p>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                          <a class="dropdown-item" href="#">Profile</a>
                          <a class="dropdown-item" href="#">Settings</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Log out</a>
                        </div>
                    </li>
                </ul>
              </div>
        </div>
    </nav>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon" style="background-color: #43a047;">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Daily Energy Consumption</p>
                        <h3 class="card-title">27
                            <small>kWh</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons" style="color: #999">date_range</i> Last 24 Hours
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon" style="background-color: #d3211e">
                      <i class="material-icons">store</i>
                    </div>
                    <p class="card-category">Weekly Energy Consumption</p>
                    <h3 class="card-title">147
                      <small>kWh</small>
                    </h3>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      <i class="material-icons"style="color: #999">date_range</i> Weekly
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon" style="background-color: #43a047;">
                      <i class="material-icons">store</i>
                    </div>
                    <p class="card-category">Monthly Energy Consumption</p>
                    <h3 class="card-title">547
                      <small>kWh</small>
                    </h3>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      <i class="material-icons"style="color: #999">date_range</i> Monthly
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon" style="background-color: #43a047;">
                      <i class="material-icons">flash_on</i>
                    </div>
                    <p class="card-category">Appliance Online</p>
                    <h3 class="card-title" style="color: black">7
                      <small></small>
                    </h3>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      <i class="material-icons"style="color: #999">access_time</i> Just updated
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
        <div class="row">
            <div class="col-md-8">
                <div class="bg-light my-2">
                    <div class="mb-4" style="background: grey" ></div>
                    <div class="mb-3" style="background: #a6c4cc">Power Consumption</div>
                    <div id="chart-container-1" style="min-width: 400px; height: 350px; max-width: 760px; margin: 0 auto"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="bg-light my-2 p-0">
                    <div class="mb-4" ></div>
                    <div class="mb-3" style="background: #a6c4cc">Power Consumption Target</div>
                    <div style="width: 300px; height: 350px;  margin: 0 auto" >
                    <div id="container6" style="min-width: 250px; max-width: 300px; height: 300px; margin: 0 auto"></div>
                    <div style="font-size: 0.9em">Equipment Performance Status: Normal </div>
                    </div>
                </div>
            </div>
        <div class="row py-3" >
          <div class="col-md-4" >
            <div class="bg-light my-2" >
              <div class="mb-3" style="background: #a6c4cc">Mixer</div>  
              <div id="container2" style="min-width:290px; height: 250px;  margin: 0 auto"></div>
              <div class="col">
                <div class="col-md-1" style="background: grey"></div>
              </div>
            </div>
          </div>
          <div class="col-md-4" >
            <div class="bg-light my-2 "  >
              <div class="mb-3" style="background: #a6c4cc">Oven</div>  
              <div id="container3" style="min-width: 290px; height: 250px; margin: 0 auto"></div>
            </div>
          </div>
          <div class="col-md-4" >
            <div class="bg-light my-2 "  >
              <div class="mb-3" style="background: #a6c4cc">Chiller</div>  
              <div id="container4" style="min-width: 290px; height: 250px;  margin: 0 auto"></div>
            </div>
          </div>
        </div>
        </div>
    </div>
</div>
</div>
  
 <link
   rel="stylesheet"
   href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
   integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
   crossorigin="anonymous"
 />
 <script
   src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
   integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
   crossorigin="anonymous"
 ></script>
 <script
   src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
   integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
   crossorigin="anonymous"
 ></script>
 <script>
  $(document).ready(function() {
    $().ready(function() {
      $sidebar = $('.sidebar');

      $sidebar_img_container = $sidebar.find('.sidebar-background');

      $full_page = $('.full-page');

      $sidebar_responsive = $('body > .navbar-collapse');

      window_width = $(window).width();

      fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

      if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
        if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
          $('.fixed-plugin .dropdown').addClass('open');
        }

      }

      $('.fixed-plugin a').click(function(event) {
        // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
        if ($(this).hasClass('switch-trigger')) {
          if (event.stopPropagation) {
            event.stopPropagation();
          } else if (window.event) {
            window.event.cancelBubble = true;
          }
        }
      });

      $('.fixed-plugin .active-color span').click(function() {
        $full_page_background = $('.full-page-background');

        $(this).siblings().removeClass('active');
        $(this).addClass('active');

        var new_color = $(this).data('color');

        if ($sidebar.length != 0) {
          $sidebar.attr('data-color', new_color);
        }

        if ($full_page.length != 0) {
          $full_page.attr('filter-color', new_color);
        }

        if ($sidebar_responsive.length != 0) {
          $sidebar_responsive.attr('data-color', new_color);
        }
      });

      $('.fixed-plugin .background-color .badge').click(function() {
        $(this).siblings().removeClass('active');
        $(this).addClass('active');

        var new_color = $(this).data('background-color');

        if ($sidebar.length != 0) {
          $sidebar.attr('data-background-color', new_color);
        }
      });

      $('.fixed-plugin .img-holder').click(function() {
        $full_page_background = $('.full-page-background');

        $(this).parent('li').siblings().removeClass('active');
        $(this).parent('li').addClass('active');


        var new_image = $(this).find("img").attr('src');

        if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
          $sidebar_img_container.fadeOut('fast', function() {
            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $sidebar_img_container.fadeIn('fast');
          });
        }

        if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
          var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

          $full_page_background.fadeOut('fast', function() {
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
            $full_page_background.fadeIn('fast');
          });
        }

        if ($('.switch-sidebar-image input:checked').length == 0) {
          var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
          var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

          $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
          $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
        }

        if ($sidebar_responsive.length != 0) {
          $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
        }
      });

      $('.switch-sidebar-image input').change(function() {
        $full_page_background = $('.full-page-background');

        $input = $(this);

        if ($input.is(':checked')) {
          if ($sidebar_img_container.length != 0) {
            $sidebar_img_container.fadeIn('fast');
            $sidebar.attr('data-image', '#');
          }

          if ($full_page_background.length != 0) {
            $full_page_background.fadeIn('fast');
            $full_page.attr('data-image', '#');
          }

          background_image = true;
        } else {
          if ($sidebar_img_container.length != 0) {
            $sidebar.removeAttr('data-image');
            $sidebar_img_container.fadeOut('fast');
          }

          if ($full_page_background.length != 0) {
            $full_page.removeAttr('data-image', '#');
            $full_page_background.fadeOut('fast');
          }

          background_image = false;
        }
      });

      $('.switch-sidebar-mini input').change(function() {
        $body = $('body');

        $input = $(this);

        if (md.misc.sidebar_mini_active == true) {
          $('body').removeClass('sidebar-mini');
          md.misc.sidebar_mini_active = false;

          $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

        } else {

          $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

          setTimeout(function() {
            $('body').addClass('sidebar-mini');

            md.misc.sidebar_mini_active = true;
          }, 300);
        }

        // we simulate the window Resize so the charts will get updated in realtime.
        var simulateWindowResize = setInterval(function() {
          window.dispatchEvent(new Event('resize'));
        }, 180);

        // we stop the simulation of Window Resize after the animations are completed
        setTimeout(function() {
          clearInterval(simulateWindowResize);
        }, 1000);

      });
    });
  });
</script>
<script>
  $(document).ready(function() {
    // Javascript method's body can be found in assets/js/demos.js
    md.initDashboardPageCharts();

  });
</script>

