@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Courgette");
.bg-mattBlackLight {
  background-color: #0c2424;
}
.text-mattBlackLight {
  color: rgba(158, 211, 97, 0.808);
}
.mb-4{
  color: aliceblue;
}
.bg-mattBlackDark, .nav-link:hover, .nav-link.active, body {
  background-color: black;
}
.text-mattBlackDark {
  color:black;
}
.bg-mattGray {
  background-color: #267e7e;
}
.text-mattGray, .nav-link .text, .nav-link .icon, body {
  color: rgb(255, 255, 255);
}
.bg-mattRed {
  background-color: greenyellow;
}

.text-mattRed, .nav-link:hover .icon,
.nav-link:hover .text, .nav-link.active .icon,
.nav-link.active .text {
  color: #20aa5aa8;
}
* {
  font-family: "Poppins", sans-serif;
}
body {
  height: 1000px;
}

.wrapper {
  margin-top: 0rem;
}
.wrapper .sideMenu {
  position: fixed;
  top: 0;
  bottom: 0;
  margin:4.1rem auto auto;
  left: 0;
  width: 10.5rem;
  transition: all ease 0.25s;
  transform: translateX(-100%);
  z-index: 2000;
  background:#0c2424
}
.wrapper .content {
  width: 100%;
  margin-left: 0;
  transition: all ease 0.25s;
  padding-top: 1.5rem;
  
}

.wrapper.active .sideMenu {
  transform: translateX(0);
}
.nav-link {
  align-items: center;
  display: block;
  white-space: nowrap;
}
.nav-link .icon {
  margin-right: 0.25rem;
  font-size: 1.875rem;
  vertical-align: middle;
  height: 4rem;
  width: 4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke
}
.nav-item .icon{
  color: whitesmoke
}

.nav-link .text {
  font-size: 1rem;
  
}

/* font of KWh */
.mb-2{
  font-size: 14px;
}
.mb-3{
  font-size: 20px;
}
.mb-4{
  color: black;
  font-weight:bold;
}

div.blue{
font-size: 45px; font-weight: bold;
text-align: left;
color: #206464
}
span.count_bottom{
  color: black;
  text-align: center;
  font-size: 14px;
}
.navbar-dark .navbar-toggler {
  float: right;
}


@media (min-width: 992px) {
  .wrapper .sideMenu {
    transform: translateX(0);
  }
  .wrapper .content {
    margin-left: 10.5rem;
  }
  .wrapper.active .sideMenu {
    width: 5rem;
  }
  .wrapper.active .sideMenu .nav-link {
    text-align: center;
  }
  .wrapper.active .sideMenu .nav-link .icon {
    margin-right: 0;
  }
  .wrapper.active .sideMenu .nav-link .text {
    display: none;
  }
  .wrapper.active .content {
    margin-left: 10rem;
  }
  i.fa{
    color: aliceblue 
  }
  i.fas{
    color: aliceblue
  }
  
}

.row.content {height: 550px}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #235764;
    height: 100%;
}
    
/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
    .row.content {height: auto;} 
}

.outer {
    width: 90%;
    height: 250px;
    margin:  20%;
}
.outer .chart-container {
width: 100%;
float: left;
height: 300px;
}
/* .highcharts-yaxis-grid .highcharts-grid-line {
display: none;
} */

@media (max-width: 600px) {
.outer {
    width: 30%;
    height: 200px;
}
.outer .chart-container {
    width: 100%;
    float: none;
    margin: 0 auto;
}
}